PAPER/n8n/paper_workflow_template.json
{
  "name": "PAPER_TEMPLATE_TIER_HH_MM",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "__CRON_EXPRESSION_HERE__"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "notes": "Replace cronExpression with tier-specific value per WORKFLOW_SPECS.md §2"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tier",
              "value": "__TIER_NAME_HERE__"
            },
            {
              "name": "scheduled_ts",
              "value": "={{$now.toISO()}}"
            },
            {
              "name": "fire_id",
              "value": "={{$guid}}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-context",
      "name": "Set Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.PAPER_API_BASE}}__ENDPOINT_PATH_HERE__",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Fire-ID",
              "value": "={{$json.fire_id}}"
            },
            {
              "name": "X-Scheduled-Ts",
              "value": "={{$json.scheduled_ts}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tier",
              "value": "={{$json.tier}}"
            },
            {
              "name": "books",
              "value": "P1,P2,P3,P4,P5"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "http-paper-api",
      "name": "Call Paper API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.error !== undefined}}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-error",
      "name": "Check Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [840, 300]
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_GROUP_ID}}",
        "text": "=⚡ SYSTEM · ⚠️ {{$node[\"Set Context\"].json.tier}} FAILED · {{$json.error}} · fire_id={{$node[\"Set Context\"].json.fire_id}}",
        "additionalFields": {
          "message_thread_id": "={{$env.TELEGRAM_TOPIC_SYSTEM}}"
        }
      },
      "id": "telegram-alert-failure",
      "name": "Telegram: Failure",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1040, 180],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CRED_ID__",
          "name": "A2E Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO paper_schedule_log (tier, scheduled_ts, status, error_message) VALUES ($1, $2, 'FAILED', $3)",
        "additionalFields": {
          "queryParams": "={{$node[\"Set Context\"].json.tier}},{{$node[\"Set Context\"].json.scheduled_ts}},{{$json.error}}"
        }
      },
      "id": "log-failure",
      "name": "DB: Log Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1040, 320],
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID__",
          "name": "Paper DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO paper_schedule_log (tier, scheduled_ts, status, duration_ms) VALUES ($1, $2, 'SUCCESS', $3)",
        "additionalFields": {
          "queryParams": "={{$node[\"Set Context\"].json.tier}},{{$node[\"Set Context\"].json.scheduled_ts}},{{$json.duration_ms || 0}}"
        }
      },
      "id": "log-success",
      "name": "DB: Log Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1040, 460],
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CRED_ID__",
          "name": "Paper DB"
        }
      }
    }
  ],
  "connections": {
    "Schedule": {
      "main": [[{ "node": "Set Context", "type": "main", "index": 0 }]]
    },
    "Set Context": {
      "main": [[{ "node": "Call Paper API", "type": "main", "index": 0 }]]
    },
    "Call Paper API": {
      "main": [[{ "node": "Check Error", "type": "main", "index": 0 }]]
    },
    "Check Error": {
      "main": [
        [
          { "node": "Telegram: Failure", "type": "main", "index": 0 },
          { "node": "DB: Log Failure", "type": "main", "index": 0 }
        ],
        [
          { "node": "DB: Log Success", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": "true",
    "saveManualExecutions": "true",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "active": false,
  "pinData": {},
  "tags": [
    {
      "name": "paper-poc"
    },
    {
      "name": "__TIER_TAG__"
    }
  ],
  "meta": {
    "description": "PAPER POC workflow template. Duplicate and customize per WORKFLOW_SPECS.md §2. Replace __CRON_EXPRESSION_HERE__, __TIER_NAME_HERE__, __ENDPOINT_PATH_HERE__, __TELEGRAM_CRED_ID__, __POSTGRES_CRED_ID__, __TIER_TAG__ placeholders.",
    "version": "1.0"
  }
}
